* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-image: url(/midea/background-login.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px 20px 20px;
    box-shadow: 0px 0px 20px #bebebe;
}

h1 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    font-weight: 900;
}

input {
    width: 95%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-left: 20%;
    margin-left: 5%;
}

input:focus {
    outline-color: #00c3ff;
}

.btn-blue {
    width: 80%;
    margin: 20px 0px 20px 0px;
    padding: 20px;
    cursor: pointer;
    background-color: #00c3ff;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s ease;
}

.btn-blue:hover {
    background-color: #00455a;
}

a {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
}

a:hover {
    color: #00c3ff;
}

.link {
    color: #00c3ff;
    text-decoration: underline;
}

.input-group {
    width: 90%;
}

.input-icon {
    width: 62px;
    position: absolute;
}

input[type="checkbox"] {
    display: inline-block;
    height: 20px;
    width: 5%;
    vertical-align: middle;
}

label {
    display: inline-block;
    width: 85%;
    font-size: 12px;
    margin-top: 15px;
    cursor: pointer;
}

.erro-geral {
    background-color: rgba(255, 0, 0, 0.767);
    padding: 15px 50px;
    border-radius: 5px;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 2px black;
}

.erro-input {
    border: 1px solid rgba(255, 0, 0, 0.767);
}

.erro {
    color: rgba(255, 0, 0, 0.767);
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 8px;
}

.sucesso {
    background-color: #008d1a;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 2px black;
    margin-left: 12px;
}

.oculto {
    display: none;
    transition: 1s ease-in-out;
}

.gmail {
    background-color: red;
    color: #008d1a;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}